html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Dosis', sans-serif;
}

h4, h5, h5, p {
    font-family: 'Source Sans Pro', sans-serif;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    border: solid 1px;
    border-radius: 10px;
    padding: 30px;
    margin: 200px auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 20px;
    width: 100%;
    align-items: center;
    border: solid 1px;
    background-color: rgb(77, 77, 77);
    color: #F3F3F3;
}

.header-fixed {
    position: sticky;
    top: 0;
    width: 96.6%;
 }

 @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="header-fixed"] {
      width: 86%;
    }
  }

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(196, 196, 196);
    margin-top: 20px;
    border: solid 1px;
    padding: 25px;
}

.user>.userDetail {
    text-align: left;
}

.user>.companyDetail {
    text-align: right;
}

.posts {
    padding: 20px;
    margin-top: 20px;
    border: solid 1px;
}

.post {
    background-color: rgb(196, 196, 196);
    padding: 10px;
    margin-top: 10px;
    border: solid 1px;
    border-radius: 7px;
}