html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Dosis', sans-serif;
    color: #5995DA;
}

h4, h5, h5, p {
    font-family: 'Source Sans Pro', sans-serif;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    border: solid 1px;
    border-radius: 10px;
    padding: 30px;
    margin: 200px auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 20px;
    width: 100%;
    align-items: center;
    /* border: solid 1px; */
    background-color: rgb(88, 88, 88);
    color: #F3F3F3;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.header-fixed {
    position: sticky;
    top: 0;
    width: 96.7%;
}

.header>h3 {
    color: whitesmoke;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="header-fixed"] {
        width: 87%;
    }
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(196, 196, 196);
    background-color: #EEEEEE;
    margin-top: 20px;
    border: solid 1px;
    border-radius: 7px;
    padding: 25px;
}

.user>.userDetail {
    text-align: left;
}

.user>.companyDetail {
    text-align: right;
}

.posts {
    padding: 20px;
    margin-top: 20px;
    border: solid 1px;
    border-radius: 7px;
}

.post {
    background-color: #EEEEEE;
    padding: 10px;
    margin-top: 10px;
    border: solid 1px;
    border-radius: 7px;
}